HBox, VBox {
	-fx-background-color: #408080;
	-fx-padding: 15.0;
	-fx-spacing: 10.0;
}

VBox HBox, HBox VBox {
	-fx-padding: 0.0;
}

ListView, ComboBox  {
	-fx-border-color: #008040;
	-fx-border-width: 2.0px;
}

#imageBox {
	-fx-border-color: #ff8000;
	-fx-border-width: 2.0px;
}

Button {
    -fx-background-color: 
        linear-gradient(#ffd65b, #e68400),
        linear-gradient(#ffef84, #f2ba44),
        linear-gradient(#ffea6a, #efaa22),
        linear-gradient(#ffe657 0.0%, #f8c202 50.0%, #eea10b 100.0%),
        linear-gradient(from 0.0% 0.0% to 15.0% 50.0%, rgba(255.0,255.0,255.0,0.9), rgba(255.0,255.0,255.0,0.0));
    -fx-background-radius: 30.0;
    -fx-background-insets: 0.0,1.0,2.0,3.0,0.0;
    -fx-text-fill: #654b00;
    -fx-font-weight: bold;
    -fx-font-size: 14.0px;
    -fx-padding: 10.0 20.0 10.0 20.0;
}